/* bredcrumb */
.bredcrumb{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.bredcrumb-wrap{
    display: flex;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
}

.bredcrumb-wrap a{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 14px
}

.bredcrumb-wrap span{
    margin-right: 14px;
}

.bredcrumb-wrap p{
    margin: 0;
    font-weight: bold;
}

@media (max-width: 740px){
    .bredcrumb-wrap{
        margin-left: 20px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .bredcrumb-wrap{
        margin-left: -32px;

    }
}



.payment-heading{
    font-size: 2.8rem;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

/* form */
.rela {
    position: relative;
}

.label{
    position: absolute;
    font-size: 1.6rem;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: #fff;
    color: var(--text-color);
}

.payment-info{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.payment-info p a{
    color: rgb(23,143,198);
    text-decoration: none;
} 

.content-bold{
    font-weight: 600;
    font-size: 1.8rem;
}

form input{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    cursor: text;
    padding-left: 10px;
    height: 44px;
    outline: none;
    width: 100%;
    font-size: 1.6rem;
}

.label-1{
    position: absolute;
    font-size: 1.6rem;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-weight: 400;
    cursor: default;
    display: block;
    padding: 6px 10px;
    background-color: transparent;
}

form input:focus + .label{
    top: 0px;
    font-size: 1.4rem;
}

.input-mini{
    width: 282px;
}

.name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.username{
    margin-bottom: 20px;
}

.payment-btn{
    float: right;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 14px;
    border-radius: 3px;
    background-color: rgb(22,56,91);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.payment-btn:hover{
    opacity: 0.9;
}

.payment-btn-link{
    display: block;
    margin-top: 40px;
}

.payment-left{
    border-right: 1px solid #999;
    margin-top: 20px;
}
.payment-right{
    margin-top: 20px;
}
form{
    max-width: 97%;
}


.promo-code input{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    cursor: text;
    padding-left: 10px;
    height: 44px;
    outline: none;
    width: 440px;
    font-size: 1.6rem;
}

.promo-code button{
    float: right;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding: 14px 20px;
    border-radius: 3px;
    background-color: rgb(22,56,91);
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin-right: 55px;
}

.promo-code button:hover{
    opacity: 0.8;
}

.information-order{
    background-color: #f0f0f0;
    padding: 1.5rem;
    margin-top: 20px;
    max-width: 537px;
}

.information-order__heading{
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #999;
}
.information-order__total,.information-order__Shipping,.information-order__subtotal{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.information-order__subtotal{
    border-top: 1px solid #999;
    padding-top: 10px;
    font-weight: 600;
}
